[submodule "themes/demeester.dev"]
	path = themes/demeester.dev
	url = https://github.com/demeesterdev/demeester.dev.hugo.git
[submodule "public"]
	path = public
	url = git@github.com:demeesterdev/demeesterdev.github.io.git
	branch = master
